<div class="container">

    <div class="card">

        <h2 class="main">Profile</h2>

        <div class="shortcut">
          <div class="info">
            <h4>Username:</h4>
            <h3>example</h3>
          </div>
          <div class="info">
            <h4>Email:</h4>
            <h3>name@gmail.com</h3>
          </div>
          <div class="info">
            <h4>Balance:</h4>
            <h3>€244</h3>
          </div>
          <div class="info">
            <h4>Liked products:</h4>
            <button>See now</button>
          </div>
          <div class="info">
            <h4>Own products:</h4>
            <button>See now</button>
          </div>
        </div>

        <div class="delete">
          <button>DELETE ACCOUNT</button>
        </div>

    </div>

</div>