<div class="container">
  <h1>Daily wheel!</h1>
  <div class="wheel">
    <img class="wheel img-fluid rounded mx-auto d-block" src="../../../assets/images/wheel.png" alt='image not found' />
    <img class="marker img-fluid rounded mx-auto d-block" src='../../../assets/images/marker.png'
      alt='image not found' />

    <h1 class="congrats">Congrats: €</h1>

    <!-- {wheelOption
                    ? <img class="button" src={buttonImage} onClick={spinHandler} alt='image not found' />
                    : <h1>Come again tomorrow!</h1>
                } -->
  </div>

  <h1 class="possiblePrices">Possible prices</h1>

  <div class="row">
    <div class="card">
      <img src='../../../assets/images/star.png' alt="star" class="rounded-circle" />
      <div class="info">
        <p>Star</p>
        <p>100€</p>
      </div>
    </div>
    <div class="card">
      <img src='../../../assets/images/hipnosa.png' alt="hipnosa" class="rounded-circle" />
      <div class="info">
        <p>Hipnosa</p>
        <p>50€</p>
      </div>
    </div>
    <div class="card">
      <img src='../../../assets/images/rainbow.png' alt="rainbow" class="rounded-circle" />
      <div class="info">
        <p>Rainbow</p>
        <p>40€</p>
      </div>
    </div>
    <div class="card">
      <img src='../../../assets/images/cloud.png' alt="cloud" class="rounded-circle" />
      <div class="info">
        <p>Cloud</p>
        <p>35€</p>
      </div>
    </div>
    <div class="card">
      <img src='../../../assets/images/lollipop.png' alt="lollipop" class="rounded-circle" />
      <div class="info">
        <p>Lollipop</p>
        <p>30€</p>
      </div>
    </div>
    <div class="card">
      <img src='../../../assets/images/heart.png' alt="heart" class="rounded-circle" />
      <div class="info">
        <p>Heart</p>
        <p>25€</p>
      </div>
    </div>
    <div class="card">
      <img src='../../../assets/images/kiss.png' alt="kiss" class="rounded-circle" />
      <div class="info">
        <p>Kiss</p>
        <p>15€</p>
      </div>
    </div>
    <div class="card">
      <img src='../../../assets/images/moon.png' alt="moon" class="rounded-circle" />
      <div class="info">
        <p>Moon</p>
        <p>10€</p>
      </div>
    </div>
  </div>
</div>
