<div class="container">

  <div class="filterBtns">
    <input type="text" placeholder="Search">
    <button (click)="sortBy('price')">Sort by Price</button>
    <button (click)="sortBy('likes')">Sort by Likes</button>
  </div>

  <div class="allCards">
    <div class="card" *ngFor="let product of products">
      <img src={{product?.images[0]?.dataString}} alt="">

      <h2>{{product?.title}}</h2>

      <div class="together">
        <p>Price: <span>€{{product?.price}}</span></p>
        <p>Likes: <span>{{product?.likes?.length}}</span></p>

        <button (click)="onSelect(product._id)">See now</button>
      </div>
    </div>
  </div>

</div>
