div.container {
    min-height: 100vh;
}

div.container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 60%;
    margin: 0 auto;
    margin-top: 14rem;
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.75);
}

div.container .card div {
    width: 50%;
    height: 100%;
}

div.container .card div.image {
    position: relative;
    min-height: 600px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.container .card div.image img {
    padding: 5rem;
}

div.container .card div.image .sliders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
    left: 0;
    top: 0;
}

div.container .card div.image .sliders button {
    width: 24px;
    height: 100px;
    border: none;
    background-color: rgba(16, 105, 189, 0.842);
    color: white;
    font-weight: 900;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

div.container .card div.image .sliders button:hover {
    transform: scale(1.1);
}

div.container .card div.image .sliders button:first-child {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

div.container .card div.image .sliders button:last-child {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

div.container .card div.details {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    flex-direction: column;
}

div.container .card div.details p {
    width: 70%;
}

div.container .card div.details p span {
    font-weight: 900;
    font-size: 18px;
}

div.container .card div.details div.btns {
    display: flex;
    gap: 1rem;
}

div.container .card div.details div.btns button {
    padding: 0.2rem 1rem;
    font-weight: 900;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

div.container .card div.details div.btns button:hover {
    transform: scale(1.2);
    background-color: green;
    color: white;
}

div.container .card div.details div.deleteQA button {
    padding: 0.2rem 1rem;
    font-weight: 900;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-right: 1rem;
}   

div.container .card div.details div.deleteQA button:hover {
    transform: scale(1.2);
    background-color: green;
    color: white;
}

div.container .card div.details div.deleteQA button.dangerBtn:hover {
    background-color: red;
}

div.container .card div.details div.deleteQA .errorsMessage {
    text-align: center;
    color: rgba(255, 0, 0, 0.712);
    padding: 0.5rem 0;
}



