<div class="container">

  <div class="card" *ngIf="product.title">
    <div class="image">
      <img
        src={{product?.images[imageCount]?.dataString}}
        alt="">
        <div class="sliders">
          <button (click)="previousImage()"><</button>
          <button (click)="nextImage()">></button>
        </div>
    </div>

    <div class="details">
      <h2>{{product?.title}}</h2>

      <p>{{product?.description}}</p>

      <p>Price: <span>€ {{product?.price}}</span></p>

      <div class="btns" *ngIf="this.appComponent.sessionStorage">
        <button>Edit</button>
        <button>Delete</button>
        <button>Buy</button>
        <button>Like</button>
      </div>
    </div>
  </div>

</div>
