<div class="container">

  <div class="card">
    <div class="image">
      <img
        src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdHxlbnwwfHwwfHw%3D&w=1000&q=80"
        alt="">
    </div>

    <div class="details">
      <h2>{{product?.title}}</h2>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis sed magni suscipit veniam assumenda
        adipisci quia numquam nihil aliquid totam consequatur nemo, in alias ratione! Expedita illum totam odio ipsa.
      </p>

      <p>Price: <span>€24</span></p>

      <div class="btns">
        <button>Edit</button>
        <button>Delete</button>
        <button>Buy</button>
        <button>Like</button>
      </div>
    </div>
  </div>

</div>
