<div class="container">

  <div class="card" *ngIf="product.title">
    <div class="image">
      <img src={{product?.images[imageCount]?.dataString}} alt="">
      <div class="sliders">
        <button (click)="previousImage()">
          <</button> <button (click)="nextImage()">>
        </button>
      </div>
    </div>

    <div class="details">
      <h2>{{product?.title}}</h2>

      <p>{{product?.description}}</p>

      <p>Price: <span>€ {{product?.price}}</span></p>

      <div class="btns" *ngIf="this.appComponent.sessionStorage">
        <button *ngIf="isAuthor" (click)="onEditHandler(product?._id)">Edit</button>
        <button *ngIf="isAuthor" (click)="deleteBtn = !deleteBtn">Delete</button>
        <button *ngIf="!isAuthor">Buy</button>
        <button *ngIf="!isAuthor">Like</button>
      </div>

      <div class='deleteQA' *ngIf="deleteBtn">
        <h2>Are you sure you want to delete this item?</h2>
        <button (click)="onDeleteHandler()">Yes</button>
        <button (click)="deleteBtn = false">No</button>
      </div>
    </div>
  </div>

</div>
