<div class="container">

  <div class="card">
    <img
      src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdHxlbnwwfHwwfHw%3D&w=1000&q=80"
      alt="">

    <h2>Headphones</h2>

    <div class="together">
      <p>Price: <span>€24</span></p>

      <button>See now</button>
    </div>
  </div>

  <div class="card">
    <img
      src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZHVjdHxlbnwwfHwwfHw%3D&w=1000&q=80"
      alt="">

    <h2>Watch</h2>

    <div class="together">
      <p>Price: <span>€44</span></p>

      <button>See now</button>
    </div>

  </div>

</div>
