<div class="container">

  <ng-container *ngIf="products.length > 0">
    <div class="card" *ngFor="let product of products">
      <img
      src="{{product?.images[0]?.dataString}}"
      alt="{{product?.images[0]?.name}}">
      
      <h2>{{product?.title}}</h2>
      
      <div class="together">
        <p>Price: <span>€{{product?.price}}</span></p>
        
        <button (click)="onSelect(product._id)">See now</button>
      </div>
    </div>
  </ng-container>

  <h1 *ngIf="errors.message">You don't have own products yet!</h1>

</div>
