<div class="container">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

        <h1>Login</h1>

        <h2 *ngIf="res.message">{{res?.message}}</h2>

        <div class="email">
            <label for="email">Email</label>
            <input type="email" name="email" ngModel id="email" placeholder="example@gmail.com" minlength="3" >
        </div>

        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" ngModel id="password" placeholder="******" minlength="3">
        </div>

        <button>Submit</button>

        <p>If you don't have account yet, <button (click)="goToRegister()" type="button" class="redirect-register" routerLink="register">Register Now</button></p>

    </form>
</div>