div.container {
    background-color: rgba(16, 105, 189, 0.842);
    border-bottom: 5px solid rgba(0, 0, 0, 0.534);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul.left-side {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

ul.right-side {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-right: 3rem;
}

ul li {
    color: white;
    letter-spacing: 1px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    transition: all 170ms ease-in-out;
    cursor: pointer;
    transform: rotate(0);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.50);
}

ul li:hover {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    transform: rotate(-3deg) scale(1.2);
}

ul.right-side div.email {
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 170ms ease-in-out;
    transform: rotate(0);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.50);
}

ul.right-side div.email:hover {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    transform: rotate(-2deg) scale(1.1);
}

ul.right-side div.email span {
    color: rgb(243, 154, 38);
}