<div class="container">
    <nav>
        <ul class="left-side">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="catalog">Catalog</a></li>
            <li><a routerLink="create">Create</a></li>
            <li><a routerLink="about">About</a></li>
        </ul>

        <ul class="right-side">
            <li><a routerLink="login">Login</a></li>
            <li><a routerLink="register">Register</a></li>
            <li><a routerLink="logout">Logout</a></li>
        </ul>
    </nav>
</div>