<div class="container">
  <nav>
    <ul class="left-side">
      <li routerLink="">Home</li>
      <li routerLink="catalog">Catalog</li>
      <li routerLink="create">Create</li>
      <li routerLink="ownProducts">Own products</li>
    </ul>

    <ul class="right-side">
      <div class="email" routerLink="profile">
        Welcome, <span> name@gmail.com</span>!
      </div>
      <li routerLink="login">Login</li>
      <li routerLink="register">Register</li>
      <li routerLink="logout">Logout</li>
    </ul>
  </nav>
</div>
