<div class="container">

    <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm.value)">

        <!-- <TextError message={errors} /> Some error can be visible here -->
        <h2>Create form</h2>

        <h2 *ngIf="errors?.message">{{errors?.message}}</h2>

        <div class="title">
            <label for="title">Title</label>
            <input
                type="text"
                class="form-control"
                placeholder="Title"
                name="title"
                aria-label="Username"
                id="title"
                minlength="3"
                maxlength="15"
                ngModel
            />
        </div>
        <div class="desc">
            <label for="desc">Description</label>
            <textarea
                class="form-control"
                placeholder="Description"
                aria-label="With textarea"
                name="description"
                id="desc"
                minlength="3"
                maxlength="100"
                ngModel
            ></textarea>
        </div>

        <div class="category">
            <label for="category">Category</label>
            <input
                type="text"
                class="form-control"
                placeholder="Category"
                name="category"
                aria-label="Username"
                id="category"
                minlength="3"
                maxlength="15"
                ngModel
            />
        </div>
        <div class="price">
            <label for="price">Price</label>
            <input
                type="number"
                class="form-control"
                name="price"
                id="price"
                placeholder="Price in EURO"
                min="1"
                ngModel
            />
        </div>

        <div class="file">
            <label for="image">Profile image</label>
            <input type="file" id="image" name="images" ngModel (change)="addImageChangeHandler($event.target)">

            <div class="smallImages" *ngIf="allImages?.length > 0">
                <div class="image" *ngFor="let image of allImages">
                    <img src="{{image?.dataString}}" alt="">
                    <input type="button" value="X" (click)="removeImage($event.target)">
                </div>
            </div>
        </div>

        <button>CREATE</button>
    </form>

</div>