<div class="container">

    <div *ngFor="let message of messages">
        <h4 class="alert-heading">{{message.title.includes('deleted') ? 'DELETED PRODUCT' : message.title.includes('edited') ? 'EDITED PRODUCT' : message.title.includes('created') ? 'CREATED PRODUCT' : message.title.includes('have purchased') ? 'PURCHASED NEW PRODUCT' : message.title.includes('was purchased') ? 'PRODUCT SOLD' : message.title.includes('surprice from Daily Wheel') ? "DAILY WHEEL" : ''}}!</h4>
        <p>{{message.title}}</p>
        <hr />
        <p class="mb-0">Date: {{message.date}}</p>

        <button *ngIf="!message.read" (click)="statusChange($event, message?._id)"> Marked as read </button>
    </div>

</div>