<div class="container">
    <form >

        <h1>Register</h1>

        <div class="email">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="example@gmail.com" minlength="3" >
        </div>

        <div class="password">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="******" minlength="3">
        </div>

        <div class="password">
            <label for="re-password">Re-Password</label>
            <input type="password" id="re-password" placeholder="******" minlength="3">
        </div>

        <button>Submit</button>

        <p>If you already have an account, <button type="button" class="redirect-register" routerLink="login">Login Now</button></p>

    </form>
</div>